@keyframes tuB {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes guangA {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-55px, -34px);
  }
}

@keyframes guangB {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(60px, 33px);
  }
}

@keyframes tuC {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 1;
    transform: translate(40px, 20px);
  }
}

@keyframes lingxA {
  0% {
    opacity: 1;
    transform: translate(-8px);
  }
  40% {
    opacity: 1;
  }
  70%,
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

@keyframes lingxB {
  0% {
    opacity: 1;
    transform: translate(0, -8px);
  }
  60% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
    transform: translate(0, -60px);
  }
}

@keyframes lingxC {
  0% {
    opacity: 1;
    transform: translate(0, -8px);
  }
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
    transform: translate(0, -50px);
  }
}

@keyframes chaunB {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}

@keyframes chaunC {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes tuA {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-120px);
  }
}
